# Secrets
.env

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Temporary audio/files
temp_voice_*.mp3
*.tmp

# OS
Thumbs.db
.DS_Store

# Piper generated/test audio
piper/*.wav
piper/*.wav
